import strawberry
from strawberry.tools import create_type
{% for data_id in data_id_list %}
from generated.providers.{{ data_id }}.fetcher import get_{{ data_id }}_by_version_id
{%- endfor %}


Query = create_type("Query", [
{%- for data_id in data_id_list %}
    get_{{ data_id }}_by_version_id{% if not loop.last %}, {% endif %}
{%- endfor %}
])

schema = strawberry.Schema(query=Query)
